ul
{
display: flex;
justify-content: center;
background-color: blue;
border : 1px solid blue;
border-radius: 60px;
}
li 
{
list-style: none;
justify-content: center;
margin-left: 10px;
padding: 10px;
}

a
{
text-decoration: none;   
color: white;
}

a:hover{
    opacity: 80%;
    color: aquamarine;
    font-weight: bold;
}

h1{
    text-align: center;
    
}